body, html {

  font-weight 200px
  background-color
  font-family 'PingFang SC','STHertiSC-Light','HelveTica-Light', Arial, sans-serif
}
.kv {
	color:#900;
}
border-1px($color)
	position: relative
	&:after
		display: block
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		border-top: 1px solid $color
		content: ' '